<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<script type="text/javascript" src="js/bootstrap.js"></script>
<title>図書管理システム</title>
</head>
<body>
    <div align="center">
    <nav class="navbar navbar-expand-lg navbar-light  bg-success">
  <a class="navbar-brand text-white" href="#">図書管理システム</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/list">図書一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/new">図書登録</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/">メニュー</a>
      </li>
    </ul>
  </div>
</nav>
        <h2>図書削除</h2>
        <br />
        <form action="#" th:action="@{/delete}" th:object="${bookinfo}" 
            method="post">

           <table border="0" cellpadding="10">     
                <tr>    
                 <td>No.</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                   <tr>             
                    <td>*タイトル</td>
                    <td>
                        <input type="text" th:field="*{title}" style="width:300px"　 maxlength="30" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>著者</td>
                    <td><input type="text" th:field="*{author}" style="width:300px"  maxlength="20" readonly="readonly"/></td>
                </tr>
                <tr>
			        <td>出版年</td>
                    <td><input type="number" th:field="*{pubyear}"  maxlength="4" readonly="readonly"/></td>
                </tr>
                <tr> 
                 <td></td>   
                 <td>
                <a
				th:href="@{'/delete/' + ${bookinfo.id}}" class="btn btn-secondary"><svg
						xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-person-dash-fill"
						viewBox="0 0 16 16">
  <path
							d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
  <path fill-rule="evenodd"
							d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
</svg> </svg>図書削除</a>
           </td>
                   <tr> 			

            </table>
            

        
        </form> 
    	<a href="/">メニュー</a>
    	<a href="/list">図書一覧</a>
       </body>
    </div>
</html>